/* .users {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 39fr;
    border-top: 2px solid aquamarine;
    border-left: 2px solid aquamarine;
    border-bottom: 2px solid aquamarine;
    text-align: left;
    min-width: 80px;
    min-height: 280px;
} */

#users_title {
    grid-column: 1;
    grid-row: 1;
    border-bottom: 2px solid gray;
    text-align: center;
    min-height: 34px;
}
.users_content {
    grid-column: 1;
    grid-row: 2;
    overflow: auto;
    overflow-x: hidden;
}
.users_content::-webkit-scrollbar {
    width: 3px;
}

.users_content::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.users_content::-webkit-scrollbar-thumb {
    background: gray;
}
