* {
  margin: 0;
  padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100vw;
  height: 100vh;
}

/* 

// Main Page css
// Start

*/

#content {
  width: 100vw;
  height: 100vh;
}

.root { 
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
}

/* 

// Main Page css
// End

*/


/* 

// Header css
// Start

*/

.header {
  width: 80vh;
  height: 5vh;
  float: left;
}

.left_side {
  width: 40vh;
  height: 5vh;
  float: left;
}

.right_side {
  width: 40vh;
  height: 5vh;
  float: left;
}
/* 

// Header css
// End

*/
/* 

// Content css
// Start

*/

.body {
  width: 80vh;
  height: 90vh;
  float: left;
}

.body_left_side {
  width: 20vh;
  height: 90vh;
  float: left;
}

.body_right_side {
  width: 60vh;
  height: 90vh;
  float: left;
}

/* 

// Content css
// End

*/