* {
  margin: 0;
  padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100vw;
  height: 100vh;
<<<<<<< HEAD
  min-width: 320px;
  min-height: 320px;
} 
=======
  min-width: 400px;
  min-height: 150px;
} 

.root {
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  min-width: 400px;
  min-height: 150px;
}
>>>>>>> 83fc5771b866034d5f81536561989ffdce578583
