<<<<<<< HEAD

.body {
    grid-column: one / three;
    grid-row: one / three;
    display: grid;
    grid-template-columns: 7fr 4fr 7fr;
    grid-template-rows: 5fr 5fr 5fr;
    overflow: hidden;
    min-height: 0;  /* NEW */
    min-width: 0;  
} 

@media (max-width: 1041px){
    .body {
        grid-column: one / three;
        grid-row: one / three;
        display: grid;
        grid-template-columns: 2fr 5.2fr 2fr;
        overflow: hidden;
        min-height: 0;  /* NEW */
        min-width: 0;  
    } 
}

@media (max-height:400px) {
    .body {
        grid-column: one / three;
        grid-row: one / three;
        display: grid;
        grid-template-rows: 2fr 5fr 2fr;
        overflow: hidden;
        min-height: 0;  /* NEW */
        min-width: 0;  
    } 
}
=======
.body {
    width: 100%;
    height: 90%;
    float: left;
    min-width: 400px;
    min-height: 135px;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
    background-color: aliceblue;
} 
>>>>>>> 83fc5771b866034d5f81536561989ffdce578583
